body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



#content {
  padding-top: 70px;
  min-height: ~"calc(100vh - 92px)";
}

footer {
  /*.navbar;
  .navbar-default;*/
  border-radius: 0 !important;
  border-bottom: 0;
  margin: 20px 0 0;
}
